<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <link rel="stylesheet" href="/vendor/BS3/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/BS3/bootstrap-theme.min.css">
        {{{_sections.head}}}
    </head>
    <body>
        {{{body}}}
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        <script src="/vendor/BS3/bootstrap.min.js"></script>
        {{{_sections.jquery}}}
    </body>
</html>